.weather-fade-in {
    animation: fadeIn 1s ease-in; 
}

@keyframes fadeIn {  
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
 }

p {
    font-weight: 500;
}


.container_city_name_temp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -70px;

}
.city-name{
    font-size: 60px; 
    padding-bottom: 5px;
    color: var(--font-color);
}

.temp_max_min{
    border-left: 1px solid #cacaca;
    padding-left: 10px;
    color: #9c9c9c;
}

.max-min {
    color: var(--font-color);
}

.main_temp_container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.description{
    padding-right: 25px;
}

.main_temp_font{
    font-size: 40px;
}

.informations{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    margin-top: 20px;
}
.inf_icon{
    display: flex;
    align-items: center;
    gap: 5px;
}
.date-time{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #9c9c9c;
    font-size: 12px;
}

@media screen and (max-width: 530px) {

    .city-name{
        margin-top: -60px;
        font-size: 45px; 
        font-weight: 400;
        
    }
    .main_temp_container{
        margin-top: 20px;
        font-weight: 400;
        font-size: small;
    }
    .container_city_name_temp{
        display: grid;
        justify-content: center;
        font-weight: 400;
        font-size: small;
    }
    .temp_max_min{
        padding: 0;
        border-left: none;
        display: flex;
        justify-content: center;
        gap:30px
        
    }
    .max-min{
        display: flex;
        justify-content: center;
        gap:30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #cacaca;
        
    }
    .date-time {
        font-weight: 400;
        font-size: small;
    }


}
