.week-weather-fade-in {
    animation: fadeIn 2s ease-in; 
}

p {
    color: var(--font-color);
    transition: 0.5s;
}

@keyframes fadeIn {  
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
 }

.week-weather{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 15vh;
}
 .weather{
    display: flex;
 }
 .temp{
    display: grid;
    align-items: center;
    font-size: 14px;
 }

 @media screen and (max-width: 800px) {
    .week-weather{
        display: grid;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        font-weight: 400;
        font-size: small;

        
    }
    .days{
        display: flex;
        align-items: center;
    }
    .days p{
        padding-right: 10px;
        font-weight: 400;
        font-size: small;
    }
    .border-true{
        border-right: 1px solid #cacaca;
    }
    .temp{
        display: flex;
        gap: 10px;
        font-weight: 400;
        font-size: small;
    }

 }